<app-header></app-header>
<div class="card text-center">
    <div class="alert alert-info">
      <h5><b>Récrutement</b></h5>
    </div>
    <div class="card-body">
      <h3 class="card-title">Management Enginner Post</h3>
      <p class="card-text">un post de management enginner avec un minimum d'éxperience de 2ans et un salaire de 1200dt</p> 
      <button class="btn btn-outline-info" routerLink="/recemp" >Go To Employees <span class="badge text-bg-info">3</span></button>
    </div>
    <div class="card-footer text-body-secondary">
      2 days ago
    </div>
    <div class="card-body">
        <h3 class="card-title">Accounting Enginner Post</h3>
        <p class="card-text">un post de accounting enginner avec un minimum d'éxperience de 2ans et un salaire de 1400dt</p>
        <button class="btn btn-outline-info" routerLink="/recemp" >Go To Employees <span class="badge text-bg-info">3</span></button>
      </div>
      <div class="card-footer text-body-secondary">
        5 days ago
      </div>
      <div class="card-body">
        <h3 class="card-title">FrontEnd Enginner Post</h3>
        <p class="card-text">un post de frontend enginner avec un minimum d'éxperience de 2ans et un salaire de 1850dt</p>
        <button class="btn btn-outline-info" routerLink="/recemp" >Go To Employees <span class="badge text-bg-info">6</span></button>
      </div>
      <div class="card-footer text-body-secondary">
        1 week ago
      </div>
  </div>